*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.apk
*.ap_
*.class
bin/
gen/
Thumbs.db

fit_14.10
antpluginlib_3-5-0
